
.form-check-label, .custome-checkbox .form-check-label {
    position: relative;
    cursor: pointer;
}
.form-check-label::before {
    border-color: #837000;
}

.custome-checkbox .form-check-input {
    display: none;
}
.custome-checkbox .form-check-label span {
    vertical-align: middle;
}
.custome-checkbox .form-check-label::before {
    content: "";
    border: 2px solid #ced4da;
    height: 22px;
    width: 22px;
    margin: 0px 8px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.custome-checkbox input[type="checkbox"]:checked + .form-check-label::after {
    opacity: 1;
}
.custome-checkbox input[type="checkbox"] + .form-check-label::after {
    content: '✓' !important;
    width: 20.5px;
    color: #f5f5f5;
    font-weight: bolder;
    position: absolute;
    top: 2px;
    left: 5px !important;
    border-radius: 100%;
    border-left: none !important;
    border-bottom: none !important;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 16px;
    opacity: 0;
    height: 6px;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
.custome-checkbox input[type="checkbox"]:checked + .form-check-label::before {
    background-color: #837000;
    border-color: #837000;
}
.custome-radio .form-check-input, .custome-checkbox .form-check-input {
    display: none;
}
.custome-radio .form-check-label::before {
    content: "";
    border: 1px solid #908f8f;
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 8px;
}

.custome-checkbox input[disabled] + .form-check-label{
    color: #d0d0d0;
}
.custome-checkbox input[disabled] + .form-check-label::before{
    border-color: #e8e8e8;
}


.custome-radio .form-check-label .form-check-label {
    position: relative;
    cursor: pointer;
}
.custome-radio input[type="radio"]:checked + .form-check-label::before {
    border-color: #837000;
}
.custome-radio input[type="radio"]:checked + .form-check-label::after {
    opacity: 1;
}
.custome-checkbox input[disabled] + .form-check-label,
.custome-radio input[disabled] + .form-check-label {
    color: #d0d0d0;
}
.custome-checkbox input[disabled] + .form-check-label::before,
.custome-radio input[disabled] + .form-check-label::before {
    border-color: #e8e8e8;
}


[type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 25px;
    display: inline-block;
    color: #000000;

}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #ddd;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '✓';
    width: 20.5px;
    height: 20.7px;
    color: #837000;
    font-weight: bolder;
    position: absolute;
    top: 1px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 19px;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
